
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.Card.Title{
    margin: 5px;
}

.paginator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
    border: 1px solid rgba(185, 184, 184, 0.822);
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}

.paginator Button{
    margin: 2px;    
}

.botones, .busqueda{
    display: flex;
    justify-content: center;       
}
.busqueda input{
    height: 3.1rem;
    width: 100%;
    border: 1px solid rgba(185, 184, 184, 0.822);
    padding: 5px;
    margin-bottom: -5px;
}

footer{
    background: rgb(33, 37, 41);
    height: 40px;
    border: 1px solid black;
    margin-top: 10px;
    color: #fff;
}
